@import url(./_light/intro__list_light.css);

.intro__list {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}