@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__sibtitle-block/cover__sibtitle-block.css);

.cover {
  background: url(../../images/cover__background.jpg) no-repeat;
  background-size: 100% 100%;
  margin: 0 -100px 92px;
  max-width: 1184px;
  height: calc((1184px - 48px)*0.601);
}

@media screen and (max-width: 1128px) {
  .cover {
    height: calc(100vw*0.625);
    margin-left: -48px;
    margin-right: -48px;
  }
}

@media screen and (max-width: 1024px){
  .cover {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px){
  .cover {
    width: 100%;
    margin-bottom: 64px;
  }
}