@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__sibtitle-block/cover__sibtitle-block.css);

.cover {
  background: url(../../images/cover__background.jpg) no-repeat;
  background-size: 100% 100%;
  margin: 0 0 92px;
  width: 100%;
  height: calc(1184px*0.625);
}

@media screen and (max-width: 1024px){
  .cover {
    height: calc(1024px*0.625);
  }
}

@media screen and (max-width: 928px){
  .cover {
    height: calc(100vw*0.625);
  }
}

@media screen and (max-width: 768px){
  .cover {
    margin-bottom: 88px;
    height: calc(768px*0.625);
  }
}

@media screen and (max-width: 320px){
  .cover {
    height: calc(320px*0.625);
    margin-bottom: 64px;
  }
}