@import url(./__nav/footer__nav.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 0 48px 24px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    margin: 0 0 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}